@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  overflow: hidden;
}

body{
  background-color: #b19a9ab0;
  height: 100%;
  display: grid;
}

#root {
  background-color: white;
  width: 990px;
  height: 540px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#root:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  .title {
    opacity: 1;
    transition: opacity .2s ease-in;
  }
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  position: absolute;
  left: 70%;
  margin-top: 10px;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: opacity .2s ease-out;
  color: #545454;
  text-align: right;

    .subheading {
      font-size: 18px 
    }
}

#tooltip {
  position: absolute;
  background-color: #7A7C90;  
  color: white;
  height: auto;
  width: auto;
  padding: 7px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
}

.y-axis-label,
.legend {
  font-family: 'Roboto', sans-serif;
}

.y-axis-label {
  font-size: 15px;
}

.rect-label {
  height: 20; 
  transition: height .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.rect-label:hover {
  height: 50;
  transition: height .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}